<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Gallivanter</title>
    <link href="./favorites.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <script type="text/javascript" href="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    
</head>
<body>

    <div class="container">  
        <div class="row">
            <div class="col-sm-6 col-md-6">
                <h1 class="mb-4" style="color:darkolivegreen">Gallivantar</h1>
                <h2 class="mb-4">Your Travel Posts</h2> 
                <span class="badge badge-info"><span class="badge badge-light">
                    <%= posts.length %>
                </span> Posts</span>
                <span class="badge badge-secondary"><span class="badge badge-light"> <%= posts.filter(p => p.title.toLowerCase().includes("solo")).length %></span> Solo Trips</span>
                <span class="badge badge-secondary"><span class="badge badge-light"> <%= posts.filter(p => p.title.toLowerCase().includes("hiking")).length %></span> Hiking Trips</span>
            </div>
            <div class="col-sm-6 col-md-6">
                <h4 class="mb-4">Login</h4>
                <% if(messages.error) {%>
                    <%= messages.error %>
                <% } %>
                <form action="/login" method="POST">  
                <div>
                        <label for="email">Email</label>
                        <input type="email" id="email" name="email" required>
                </div>
                <div>  
                        <label for="password">Password</label>
                        <input type="password" id="password" name="password" required>
                </div>
                    <button type="submit" class="btn btn-success">Login</button> 
                    <a href="/register" class="btn btn-info">Register</a>
                </form>
                
            </div>            
        </div>      
   
        <% posts.forEach(post => { %>
            <div class="card mt-4">
                <div class="card-body">
                    <h4 class="card-title">                                     
                        <%= post.title %> 
                    </h4>
                    
                    <div class="card-subtitle text-muted mb-2">
                        <%= post.createdDate.toLocaleDateString() %>
                    </div>
                    <div class="card-text mb-2"><%= post.description %></div>
                </div> 
            </div>
        <% }) %>     
    </div>
    <script src="/public/client.js"></script> 
</body>
</html>
