<div class="form-group">
    <label for="SearchKeyword">Search Keyword</label>
    <input required type="text" name="searchKeyword" id="searchKeyword" class="form-control">   
</div>

<button type="submit" class="btn btn-primary">Search</button>
<a href="/" type="submit" class="btn btn-secondary">All Posts</a>

<div>
    <% if(typeof posts !== 'undefined' && typeof posts !== 'null') { %>     
        <% posts.forEach(post => { %>           
            <div class="card mt-4">
                <div class="card-body">
                    <h4 class="card-title"><%= post.title %></h4>
                    <div class="card-subtitle text-muted mb-2">
                        <%= post.createdDate.toLocaleDateString() %>
                    </div>
                    <div class="card-text mb-2"><%= post.description %></div>

                    <a href="<%= post.slug %>" class="btn btn-primary">Read More</a>  
                    <a href="edit/<%= post.id %>" class="btn btn-info">Edit</a>  

                    <!-- Created form for delete because an method function need to be called for delete function-->
                    <form action="/posts/<%= post.id %>?_method=DELETE" method="POST" class="d-inline">
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form> 
                </div> 
            </div>
        <% }) %>
        <div class="mt-2">     
            <h5><span class="badge badge-primary">Search keyword: <span class="badge badge-light"><%= searchKeyword.searchKeyword %></span></span></h5>     
            <h5><span class="badge badge-secondary"><span class="badge badge-light"> <%= posts.length %></span> results found</span></h5>
        </div>
    <% } %>
   
</div>



