<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Gallivanter</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous"></head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        <h1><%= name %></h1>
        <h1 class="mb-4" style="color:darkolivegreen">Gallivantar</h1>
        <h2 class="mb-4">Your Travel Posts</h2>
        <a href="/posts/new" class="btn btn-success">New Post</a>
        <a href="/posts/search" class="btn btn-primary">Search Post</a>
        <div class="mt-2">
            <span class="badge badge-info"><span class="badge badge-light">
                <%= posts.length %>
            </span> Posts</span>
            <span class="badge badge-secondary"><span class="badge badge-light"> <%= posts.filter(p => p.title.toLowerCase().includes("solo")).length %></span> Solo Trips</span>
            <span class="badge badge-secondary"><span class="badge badge-light"> <%= posts.filter(p => p.title.toLowerCase().includes("hiking")).length %></span> Hiking Trips</span>
        </div>
        <% posts.forEach(post => { %>
            <div class="card mt-4">
                <div class="card-body">
                    <% if(post.favorite === true) {%>
                    <span class="fas fa-star"></span>
                    <% } %>
                    <h4 class="card-title"><%= post.title %> </h4>
                    
                    <div class="card-subtitle text-muted mb-2">
                        <%= post.createdDate.toLocaleDateString() %>
                    </div>
                    <div class="card-text mb-2"><%= post.description %></div>

                    <a href="posts/<%= post.slug %>" class="btn btn-primary">Read More</a>  
                    <a href="posts/edit/<%= post.id %>" class="btn btn-info">Edit</a>                                       
                    <!-- Created form for delete because an method function need to be called for delete function-->
                    <form action="/posts/<%= post.id %>?_method=DELETE" method="POST" class="d-inline">
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form> 
                    
                    <form action="/favorite/<%= post.id%>?_method=PUT" method="POST" class="d-inline">                         
                        <button type="submit" class="btn btn-light">Add to Favorites</button>
                    </form>                   
                </div> 
            </div>
        <% }) %>
        <div class="mt-2">
            <form action="/logout?_method=DELETE" method="POST">
                <button type="submit" class="btn btn-warning">Log Out</button>
            </form>
        </div>
        
    </div>
</body>
</html>