<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Gallivanter</title>
    <link import href="/css/favorites.css">
</head>
<body>
    <div class="container">
        <h1><%= name %></h1>
        <h1 class="mb-4" style="color:darkolivegreen">Gallivantar</h1>
        <h2 class="mb-4">Your Travel Posts</h2>
        <a href="/posts/new" class="btn btn-success">New Post</a>
        <a href="/posts/search" class="btn btn-primary">Search Post</a>
        <div class="mt-2">
            <span class="badge badge-info"><span class="badge badge-light">
                <%= posts.length %>
            </span> Posts</span>
            <span class="badge badge-secondary"><span class="badge badge-light"> <%= posts.filter(p => p.title.toLowerCase().includes("solo")).length %></span> Solo Trips</span>
            <span class="badge badge-secondary"><span class="badge badge-light"> <%= posts.filter(p => p.title.toLowerCase().includes("hiking")).length %></span> Hiking Trips</span>
        </div>
        <% posts.forEach(post => { %>
            <div class="card mt-4">
                <div class="card-body">
                    <h4 class="card-title">
                        <label for="id-of-input" class="custom-checkbox">
                            <input type="checkbox" id="id-of-input"/>
                            <i class="glyphicon glyphicon-star-empty"></i>
                            <i class="glyphicon glyphicon-star"></i> 
                        </label>
                        <%= post.title %> 
                    </h4>
                    
                    <div class="card-subtitle text-muted mb-2">
                        <%= post.createdDate.toLocaleDateString() %>
                    </div>
                    <div class="card-text mb-2"><%= post.description %></div>

                    <a href="posts/<%= post.slug %>" class="btn btn-primary">Read More</a>  
                    <a href="posts/edit/<%= post.id %>" class="btn btn-info">Edit</a>  

                    <!-- Created form for delete because an method function need to be called for delete function-->
                    <form action="/posts/<%= post.id %>?_method=DELETE" method="POST" class="d-inline">
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form> 
                </div> 
            </div>
        <% }) %>
        <div class="mt-2">
            <form action="/logout?_method=DELETE" method="POST">
                <button type="submit" class="btn btn-warning">Log Out</button>
            </form>
        </div>
        
    </div>
</body>
</html>